@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
   /* Primary Colors */
   --color-primary-dark-blue: hsl(243, 87%, 12%);
   --color-primary-desaturated-blue: hsl(238, 22%, 44%);
 
   /* Accent Colors */
   --color-accent-bright-blue: hsl(224, 93%, 58%);
   --color-accent-moderate-cyan: hsl(170, 45%, 43%);
 
   /* Neutral Colors */
   --color-neutral-light-grayish-blue: hsl(240, 75%, 98%);
   --color-neutral-light-gray: hsl(0, 0%, 75%);

   /* fonts */
   --font-raleway: var(--font-raleway);
   --font-open-sans: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
